html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    margin: 0;
}

body {
    margin-bottom: 60px;
}
.home{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.main_projetos {
    margin-top: 100px;
}

footer {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
}

/* ===== Po-pup Nav =====*/
.card__course {
    min-height: 170px;
}

.home__img {
    cursor: pointer;
}

.habilidade__isvible {
    cursor: pointer;
    transition: transform .5s ease-out;
}

@media (max-width:768px) {
    .container__habilidade div {
        margin: 0px;
    }
}

.curso__isvible {
    cursor: pointer;
    transition: transform .5s ease-out;
}

.about__img {
    cursor: pointer;
    min-height: 300px;
    max-height: 300px;
}

/* ===== Po-pup Img =====*/
.about__container .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.859);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.about__container .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.about__container .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 400px;
    object-fit: cover;
}

.about__container .popup-image-projeto img {
    width: 700px;
    cursor: pointer;
}

.about__container .popup-image-projeto span {
    cursor: pointer;
}


@media (max-width:768px) {
    .about__container .popup-image img {
        width: 80%;
    }
}

@media (max-width:768px) {
    .about__container .image-sobre img {
        width: 100px;
        margin-bottom: 30px;

    }
}
.habilidade{
    margin-top: 5rem;
    margin-bottom: 5rem;  
}
.title h3{
   text-align: center;
}
.container__habilidade{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sBlog {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.sBlog h3{
    display: flex;
    justify-content: center;
}

.sBlog .top {
    margin-bottom: 2rem;
}

.sBlog .top .allArticles {
    gap: 1rem;
}

.sBlog .containerBlog {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.3rem;
}

.sBlog .containerBlog .boxBlog {
    transition: all .4s;
    padding: 1rem;
    border-radius: 15px;
}

.sBlog .containerBlog .boxBlog:hover {
    background-color: rgba(59, 57, 63, 0.048);
    transform: translateY(-20px);
}

.sBlog .containerBlog .boxBlog .image img {
    object-fit: cover;
    height: 19rem;
    border-radius: 10px;
    margin-bottom: 2.4rem;
}

.sBlog .containerBlog .boxBlog .text h5 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 1.6rem;
}

.sBlog .containerBlog .boxBlog .text p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 180%;
    margin-bottom: 1.6rem;
}

.sBlog .containerBlog .boxBlog .text .tags {
    font-size: 1.3rem;
    font-weight: 500;
    gap: 1.5rem;
}

.sBlog .containerBlog .boxBlog .text .tags span {
    background-color: #f8f8f8;
    padding: .8rem;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .sBlog {
        margin-top: 6rem;
        margin-bottom: 10rem;
    }

    .sBlog .containerBlog {
        grid-gap: 0;
    }
}

@media (max-width: 750px) {
    .sBlog .containerBlog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .sBlog .containerBlog {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin: 0 auto;
        width: 100%;
        max-width: 40rem;
    }

    .sBlog .top h4 {
        font-size: 3rem;
    }

    .sBlog .containerBlog .boxBlog:hover {
        transform: translateY(0);
    }
}

@media (max-width: 460px) {
    .sBlog .top .allArticles {
        display: flex;
    }
}